@import "src/theme/style";

.results {
  position: absolute;
  width: 100%;
  height: 98%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;

  &_container {
    color: white;
    border: green 3px solid;
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    &_modalTitle {
      font-size: 1.5rem;
      border: purple 3px solid;
      width: 100%;
      height: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_elementContainer {
      display: flex;
      flex-direction: row;

      &_score {
        font-size: 4rem;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: purple 3px solid;
      }

      &_details {
        font-size: 3rem;
        border: red 3px solid;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        &_container {
          font-size: 3rem;
          border: green 3px solid;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          padding: 1rem;
        }
      }
    }


    &_modalButton {
      font-family: $font-main;
      font-size: 1.9rem;
      width: 100%;
      height: 20%;
    }
  }

  &_closeButton {
    border: red 3px solid;
    width: 100%;
    height: 20%;
  }
}
