@import "../../../../theme/style";

.Button {
  box-sizing: border-box;
  border: #23d5ab 2px solid;
  width: 100%;
  height: 10%;
  position: relative;
  clear: both;
  margin: 1rem 0;
  list-style: none;
  text-align: center;
  overflow: hidden;
  z-index: 100;

  figure {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    height: auto;
    background: #3498db;
    text-align: center;
    cursor: pointer;

    &:hover {
      img {
        background: #282828;
        opacity: 0.6;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

      figcaption::before {
        transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
      }
    }

    img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      opacity: 0.95;
      transition: opacity 0.35s, transform 0.35s;
      transform: scale3d(1.05, 1.05, 1);
    }

    figcaption {
      color: #fff;
      text-transform: uppercase;
      font-size: 1.5rem;
      backface-visibility: hidden;

      p {
        font-family: $font-main;
        position: absolute;
        right: 0;
        top: 6%;
        padding: 0 1em;
        width: 100%;
        text-align: center;
        opacity: 1;
        -webkit-transition: opacity 0.35s;
        text-shadow: 0 4px 6px rgba(0, 0, 0, 0.52), 0 3px 4px rgba(0, 0, 0, 0.44);
        transition: opacity 0.35s;
      }

      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }

      &::before {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        content: '';
        -webkit-transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
        transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
      }

      &::after {
        pointer-events: none;
      }
    }
  }
}

