
.content {
  border: #e73c7e solid 1px;
  text-align: center;
  width: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
  display: flex;
  justify-content: center;
  align-items: center;

  .random {
    color: #eee;
    opacity: 0;
    font-size: 3.5rem;
    text-transform: uppercase;
  }
}

.randomCharacter {
  display: inline-block;
  height: 10px;
}
