@import "src/theme/style";

.home {
  font-family: $font-main;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;

  &_container {
    box-sizing: border-box;
    border: white 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;

    &_max {
      border: #ee7752 1px solid;
      position: relative;
      overflow: hidden;
      height: 100%;
      width: 100%;
      max-width: 700px;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &_logoContainer {
        width: 100%;
        height: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
      }

      &_buttons {
        display: flex;
        width: 100%;
        z-index: 100;

        &_button {
          box-sizing: border-box;
          border: none;
          font-family: $font-main;
          width: 100%;
          font-size: 1.5rem;
          border-radius: .25rem;
          padding: 1rem;
          background: transparent;
          color: white;

          &:hover{
            cursor: pointer;
            color: #ee7752;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.mainMessage {
  font-family: $font-main;
  font-size: 1.5rem;
  margin: 1rem 0;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
