@import "src/theme/style";

.signin {
  box-sizing: border-box;
  align-items: center;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin: 1rem 0;
  z-index: 100;

  &_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;

    &_userName {
      text-align: center;
      height: 35%;
      width: 100%;
      font-size: 1.8rem;
      font-family: $font-main;
      border-radius: .25rem;
      border: white 2px solid;
      padding: 0 .5rem;
      background: black;
      color:white;
    }
  }
}
