.stopwatch-time {
  font-size: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;

  &_container {
    display: flex;
    justify-content: center;
    width: 35%;
  }

  span {
    text-align: right;
    display: inline-block;
  }

  .hrs {
    min-width: 2em;
  }

  .mins {
    min-width: 2em;
  }

  .secs {
    width: 2em;
  }
}
