@import "src/theme/style";

.dashboard {
  box-sizing: border-box;
  border: #ee7752 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;


  &_container {
    box-sizing: border-box;
    border: #23d5ab 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;

    &_max {
      position: relative;
      border: #ee7752 7px solid;
      height: 90%;
      width: 90%;
      max-width: 900px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      &_info {
        font-size: 1.3rem;
        width: 100%;
        padding: 0 2rem;
        border: #ee7752 2px solid;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      &_author {
        font-size: 1.3rem;
        margin-bottom: 1rem;
      }

      &_buttons {
        margin: 1rem 0;
        width: 100%;
        border: #ee7752 2px solid;
        display: flex;
        flex-direction: row;

        &_button {
          font-family: $font-main;
          font-size: 1.3rem;
          font-weight: bold;
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }

      &_userInfo {
        border: #0086e4 7px solid;
        font-weight: bold;
        color: white;
      }
    }
  }
}
