@import "src/theme/style";

.dashboard {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;

  &_container {
    box-sizing: border-box;
    border: white 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;

    &_max {
      position: relative;
      height: 100%;
      width: 90%;
      max-width: 900px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      &_info {
        font-size: 1.3rem;
        width: 100%;
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      &_buttons {
        margin: 1rem 0;
        width: 100%;
        display: flex;
        flex-direction: row;

        &_button {
          border: none;
          color: white;
          background: black;
          font-family: $font-main;
          font-size: 1.3rem;
          font-weight: bold;
          width: 100%;
          display: flex;
          justify-content: center;

          &:hover {
            color: #4488ff;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
